@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.content {
  width: 100%;
}

.title {
  background: rgba(33, 52, 90, 0.992);
  font-weight: blod;
  font-size: 36px;
  color: white;
  height: 150px;
  text-align: center;
  line-height: 150px;
}

.body {
  background: rgba(142, 187, 214, 0.992);
  font-size: 30px;
  color: white;
  height: 250px;
  text-align: center;
  line-height: 250px;
}

.home a,
.list a {
  display: inline-block;
  margin-top: 30px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  padding: 5px;
  background-color: rgb(217, 214, 214);
  border-radius: 3px;
  border: rgb(165, 161, 161) 1px solid;
}

.todo-form {
  text-align: center;
  margin-top: 30px;
  border-bottom: rgb(151, 148, 148) 1px solid;
}

.todo-form input {
  margin: 30px 10px 30px 5px;
  height: 25px;
  width: 250px;
  font-size: 16px;
  border-radius: 2px;
}

.todo-form button {
  height: 31px;
  border-radius: 3px;
  cursor: pointer;
}

.list {
  padding: 10px;
}

.item-list {
  font-size: 20px;
  width: 300px;
  margin: 30px auto 30px auto;
}

.item {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete {
  margin-left: 10px;
  color: white;
  background-color: rgb(241, 65, 103);
  border: none;
  height: 25px;
  cursor: pointer;
}
